

<div class="flex-container">

    <nav class="navbar navbar-dark bg-dark navbar-expand-sm mt-3 justify-content-end">
        
          <div id="logo">
              <img src="../../assets/logo.PNG" alt="logo">
          </div>
          
          <div class="title">Manju R. Goyal, M.D.
              <br>Board Certified Psychiatrist, Fellow of APA
          </div>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-list-2" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-list-2">
          <ul class="navbar-nav" id="links">
            <li class="nav-item nav-link"><a [routerLink]="['']">Home</a></li>
            <li class="nav-item nav-link"><a [routerLink]="['/specialties']">Specializations</a></li>
            <li class="nav-item nav-link"><a [routerLink]="['/process']">Process</a></li>
            <li class="nav-item nav-link"><a [routerLink]="['/insurance']">Insurance</a></li>
            <li class="nav-item nav-link"><a [routerLink]="['/location']">Location</a></li>
            <li class="nav-item nav-link"><a [routerLink]="['/contact']">Contact</a></li>
          </ul>
        </div>
      </nav>
    
</div>
