
<div class="flex-container">
    <div class="card w-75 p-3 mx-auto" *ngFor="let blogPost of blogPosts;">
        <div class="card-header">
            <div class="headerTitle">
                <strong>{{blogPost.title}}</strong>
            </div>
        </div>
        <div class="card-body">
                <div class= "descriptionTitle">
                    <u>Description:</u>
                </div>
                <div class= "blogDescription">
                    {{blogPost.description}} 
                </div>

                <div class="link">
                    <u>Link:</u> &nbsp;{{blogPost.link}}
                </div>
        </div>

        <div class="card-footer">
            <div class="row buttons">
                <div class="col-md-4">
                    <a type="button" class="btn btn-info" [routerLink]="['/blog-post']">
                        Add Blog
                    </a>
                </div>
            </div>
        </div>
    </div>     
</div>
