        
    <div class="flex-container">
        <div class="heading">
            <h1>Get in Touch:</h1>
        </div>
        <div class="container">
            
            <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                <div class="panel panel-default">
                    
                    <div class="body">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="firstName">First Name:</label>
                                <input id="firstName" formControlName="firstName" type="text" class="form-control" placeholder="First Name">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="lastName">Last Name:</label>
                                <input id="lastName" formControlName="lastName" type="text" class="form-control" placeholder="Last Name">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="email">Email Address:</label>
                                <input type="email" formControlName="email" class="form-control" id="email" placeholder="yourAddress@email.com">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="phoneNum">Phone Number:</label>
                                <input type="text" formControlName="phoneNum" class="form-control" id="phoneNum" placeholder="302-555-7890">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="birthDate">Birthday:</label>
                                <input type="date" formControlName="birthDate" class="form-control" id="birthDate" placeholder="yyyy-mm-dd">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="reasonForContact">Reason for Contact:</label>
                                <input type="text" formControlName="reasonForContact" class="form-control" id="reasonForContact" placeholder="Reason for Contact">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="preferredApptTime">Preferred Appointment Time:</label>
                                <input type="text" formControlName="preferredApptTime" class="form-control" id="preferredApptTime" placeholder="Preferred Appointment Time">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="message">Message:</label>
                                <input type="text" formControlName="message" class="form-control" id="message" placeholder="Message">
                            </div>
                        </div>
                    </div>
                    <div class="form-group" id="btnSubmit">                 
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
              </form>
        </div>
    </div>