.flex-container {
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 13pt;
    /* border: 4px red solid; */
  }

  #btnSubmit{
    text-align: center;
  }

  h1{
      text-align: center;
      padding-bottom: 1%;
      color:rgb(51, 72, 163)
  }

