.img-fluid{
    width: auto;
    max-width: 100%;
    height: 137vh;
    max-height: fit-content;
    background-image: url(../../../assets/hyacinth2.jpg);
    background-position: center center;
    opacity: 0.35;
    background-repeat: no-repeat;
}

#specializations{
    padding-bottom: 5%;
    margin-left: 38%;
    font-size: 13pt;
}

h2{
    padding-top: 3%;
    text-align: center;
    padding-bottom: 2%;
}

div.textDesktop{
    font-size: 13pt;
    position: relative;
    padding-left: 7%;
    padding-right: 7%;
    color: black;
    margin-top: -67%;
    font-weight: bold;
}

div.text{
    font-size: 13pt;
    padding-left: 7%;
    padding-right: 7%;
}

#mobileTitle, #spec-textMobile{
    color: rgb(51, 72, 163);
}

