/* .img-fluid{
    width: auto;
    max-width: 100%;
    height: 150vh;
    max-height: fit-content;
    background-image: url(../../../assets/hyacinth2.jpg);
    background-size: 100% 100%;
    background-position: center center;
    opacity: 0.35;
    background-repeat: repeat;
} */

#desktop-flex{
    background-image: url(../../../assets/flowersOpaque.png);
    background-size: 100% 100%;
}

#specializations{
    padding-bottom: 1%;
    font-size: 13pt;
    text-align: center;
}

#adults-only{
    font-size: 15pt;
    font-style: italic;
}

.spec-text, .spec-textMobile{
    padding-top: 2%;
    text-align: center;
    padding-bottom: 0;
}

h2{
    text-align: center;
    padding-bottom: 2%;
}

#desktop-title{
    padding-top: 2%;
}

#list{
    display: table;
    margin: auto;
    padding-bottom: 3.7%;
}

div.textDesktop{
    font-size: 13pt;
    /* position: relative; */
    padding-left: 10%;
    padding-right: 10%;
    color: black;
    font-weight: bold;
}

div.text{
    font-size: 13pt;
    padding-left: 10%;
    padding-right: 10%;
}

#mobileTitle, .spec-textMobile{
    color: rgb(131, 97, 224);
}

