.flex-container {
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 13pt;
  }

  h1{
      text-align: center;
      color:rgb(131, 97, 224);
  }

  #headingDetails{
    text-align: center;
    padding-bottom: 2%;
    color:rgb(131, 97, 224);
    font-weight: bold;
  }

  .formNotValid{
    color: red;
    text-align: center;
    padding-bottom: 2%;
  }