<div class="process">
<div class="flex-container">
    <div class="text">
        <div id="subtitle">
            <h1>The Process</h1>
            A Tailor-Made Treatment
    </div>
        <p id="unique">
            <strong>Your situation is unique.</strong>  Dr. Goyal believes that your care should be too!
            Working in conjunction with each patient, Dr. Goyal is passionate about creating a comprehensive
            treatment plan for <strong>adult patients</strong> that is uniquely suited to their needs and situation.
            This may include medications as deemed necessary, along with various therapies including CBT, DBT and 
            psychodynamic therapy.  The approach is broken down into <strong>three phases:</strong>
        </p>
    </div>
</div>

<div class="flex-container">

        <div class="row">
            <div class="col-md-4 col1">
                <div class="numbers">
                    1. 
                </div>
                <div class="title">
                    Initial Evaluation
                </div>
                <div class="phase">
                    In your first visit, Dr. Goyal will focus on identifying your needs.  Together you will determine 
                    the most effective course of mdeication and therapy.
                </div>
            </div>
        

            <div class="col-md-4">
                <div class="numbers">
                    2. 
                </div>
                <div class="title">
                    Treatment Plan
                </div>
                <div class="phase">
                    In the next few sessions, Dr. Goyal will undertak a comprehensive assessment and together you will 
                    create a roadmap of your treatment and goals.
                </div>
            </div>
        

            <div class="col-md-4 col3">
                <div class="numbers">
                    3. 
                </div>
                <div class="title">
                    Targeted Sessions
                </div>
                <div class="phase">
                    The remaining sessions will examine each issue or obstacle to get to the root of your problem.  You 
                    will gain deeper understanding of the illness as an active participant in your recovery.  
                </div>
            </div>
        </div>

        <div class="newPatient">
            <div id="newPatientTitle">
                <strong>If you are a <u>NEW</u> patient making an appointment, please have the following information ready 
                    when you call to make your first appointment:
                </strong>
            </div>
        </div>

        <ul id="newPatientList">
            <li>Complete Address</li>
            <li>Date of Birth</li>
            <li>Email Address</li>
            <li>Photos of your ID</li>
            <li>Photos of your insurance card (Front & Back)</li>
        </ul>        

        <div id="portal">
            <strong>Before your first visit</strong>, you will receive an email with a link and password to the 
            <strong>Patient Portal</strong>, where you will be able to access all your patient documents.
        </div>
</div>
</div>
