.flex-container{
    font-size: 13pt;
}

h1{
    text-align: center;
    color: rgb(131, 97, 224);
    padding-top: 3%;
}

#subtitle{
    text-align: center;
    color: rgb(131, 97, 224);
    font-size: 16pt;
    padding-bottom: 2%;
}

.title{
    display: inline;
    color: black;
    font-weight: bold;
    font-size: 18pt;
}

.numbers{
    font-size: 20pt;
    color: rgb(131, 97, 224);
    display: inline;
    font-weight: bold;
}

#unique{
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 1.2%;
}

#portal{
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 4%;
    padding-top: 2%;
}

.row{
    padding-left: 4%;
    padding-right: 4%;
}

.newPatient{
    padding-top: 2%;
}

#newPatientTitle{
    text-align: center;
}

#newPatientList{
    padding-top: 0.8%;
    display: table;
    margin: auto;
}