
#grad1{
    width: auto;
    max-width: 100%;
    max-height: fit-content;
    background-image: linear-gradient(rgb(75, 167, 209),rgb(65, 221, 174));
}

.map{
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.map iframe{
    padding-left: 8%;
    padding-top: 1%;
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    height: 95%;
    padding-bottom: 3%;
}

.building{
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.building img{
    padding-left: 8%;
    padding-bottom: 5%;
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    height: 95%;
}

#info{
    padding-top: 7%;
    font-size: 13pt;
    padding-left: 3%;
    padding-bottom: 7%;
    padding-right: 4%;
}

#directions{
    font-size: 22pt;
    color: white;
    padding-left: 8%;
    text-align: center;
}