
.picture{
    position: relative;
    padding-bottom: 56.25%;
    height: 100%;
    overflow: hidden;
}

.picture img{
    padding-bottom: 4%;
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 4%;
    /* right: 10%; */
    max-width: auto;
    max-height: auto;
}

img{
    text-align: center;
}

#background-info{
    padding-right: 10%;
    padding-bottom: 4%;
    padding-left: 8%;
    font-size: 13pt;
}

#specializations{
    /* color: black; */
    padding-right: 0;
}

h1{
    color: rgb(131, 97, 224);
    padding-top: 2%;
    text-align: center;
    padding-bottom: 2%;
}