<!-- <div *ngIf="pandemic" class="modal fade" id="glassAnimals" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Glass Animals</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          This is the data!
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div> -->

    <!-- Modal -->
<!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div> -->


<div class="flex-container">
    <h1>Background and Experience</h1>
        <div class="row">
            <div class="col-md-8">
                <div id="background-info" >
                    <p>Dr. Manju R. Goyal is a board-certified psychiatrist who cares deeply for her patients and seeks to help each individual 
                    acquire life-long coping skills. She completed her medical schooling with a Bachelor of Medicine and a Bachelor of Surgery from 
                    Government Medical College, Patiala, India in 1975. Dr. Goyal then completed her Psychiatry residency training at St. Vincent’s 
                    Medical Center of North Richmond Staten Island, New York in 1981. After her training, she started practicing in the Dallas area in 
                    1982, and currently operates a solo outpatient private practice of Psychiatry. She is also currently active in many local and 
                    national psychiatric organizations (American Psychiatric Association (APA), Depression Care Managers (DCMS), Texas Society of Psychiatric 
                    Physicans (TSPP) and Dallas Area Women’s Psychiatrists, etc.).</p>
                
                    <p>From 1982 to 2006, Dr. Goyal worked in various outpatient and inpatient settings including hospitals and a large group practice (BentTree 
                    Psychiatric Associates). She worked diligently towards gaining her expertise in treating major psychiatric illnesses, also raising a family 
                    of 3 children at the same time. In 2006, Dr. Goyal became more passionate about the therapy aspect of psychiatric treatment. She ventured 
                    into yoga training, which led her to explore the power of mindfulness through <a [routerLink]="['/specialties']" id="specializations"><u>Cognitive Behavioral 
                    Therapy (CBT)</u></a> and <a [routerLink]="['/specialties']" id="specializations"><u>Dialectical Behavioral Therapy (DBT)</u></a>.  From 2012 onwards, 
                    she has trained extensively and received various CBT and DBT certifications.</p>

                    <p>With 30 years of experience, Dr. Goyal believes that a combination of medication and therapy works best for helping her patients achieve their goals.</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="picture">
                    <img src="../../assets/drgoyal2.PNG">
                </div>
            </div>
        </div>
</div>
