
<div class="flex-container">
    <h1>Important Information Regarding Covid-19</h1>
        <div class="container">
            <div class="info">
                At this time Dr. Goyal is only seeing patients in person on an as needed basis. If you are a patient being seen in person, Dr. Goyal is following 
                all CDC guidelines in regards to social distancing. A link to to those guidelines can be found <a href="https://www.cdc.gov/coronavirus/2019-ncov/prevent-getting-sick/social-distancing.html" target="_blank"><u>HERE</u></a>. 
                If you are not feeling well or have any <a href="https://www.cdc.gov/coronavirus/2019-ncov/symptoms-testing/symptoms.html" target="_blank"><u>symptoms</u></a> of COVID-19, please reschedule your appointment and consult your primary 
                healthcare provider for information on testing. 
                Current and new patients that do not need in person appointments will conduct their appointments via telemedicine. Dr. Goyal is committed to helping her patients meet their needs 
                even during the uncertainty of this crisis.
            </div>  

            <div class="teleHealthInfo">
                <strong><u>Telehealth:</u></strong> Dr. Goyal is using a HIPAA compliant zoom app to conduct telhealth video sessions with patients due to the 
                COVID-19 pandemic.  You will be sent an email after scheduling your first appointment through our electronic health record (EHR) system, which will provide a link
                to the zoom meeting.
            </div>
        </div>
</div>
