#grad1{
    width: auto;
    max-width: 100%;
    max-height: fit-content;
    background-image: linear-gradient(rgb(75, 167, 209),rgb(65, 221, 174));
}

.specializations{
    padding-bottom: 7%;
}

h2{
    padding-top: 3%;
    text-align: center;
}