
<div class="flex-container">
    <div id="grad1">
        <div class="text">
           <h2>Dialectical Behavioral Therapy (DBT) / Cognitive Behavioral Therapy (CBT)</h2>
            <p>
                Dr. Goyal is intensively trained in Dialectical Behavioral Therapy with Behavioral Tech, LLC. 
                DBT is a very comprehensive skill training program for any individual. She has incorporated 
                individual, group and team DBT aspects of therapy in the treatment of her patients especially 
                who suffer with borderline behavioral traits.
            </p>

Dr. Goyal also ventured into Cognitive Behavioral Therapy training as she realized that a deeper understanding of the individual’s cognition is very helpful in psychotherapy. She uses extensive mindfulness and DBT/CBT skills with her patients. She utilizes several handouts, worksheets and self help workbooks with her patients to make them actively participate in their collaborative treatment. This helps them to develop life long coping skills to deal with their problems in a more realistic manner. She has received both online and in person CBT training from Beck Institute of Cognitive Behavioral Therapy since 2016 and is currently working on her Academy of Cognitive Therapy Certification.

</div>





        Specializations(Adults Only)

        <div class="specializations">
            Dr. Goyal specializes in the following:
            <ul>
                <li>Depression</li>
                <li>Anxiety & Panic Disorders</li>
                <li>ADD/ADHD</li>
                <li>OCD</li>
                <li>PTSD</li>
                <li>Personality Disorders</li>
                <li>Bipolar Disorders</li>
                <li>Schizophrenia</li>
                <li>Adjustment Disorders</li>
                <li>Psychotic Disorders</li>
                <li>Chemical Dependency</li>
            </ul>
        
        </div>
    </div>
</div>