
<div class="flex-container">
    <div class="container"></div>
        <div class="text">
           <h2>Dialectical Behavioral Therapy (DBT) / Cognitive Behavioral Therapy (CBT)</h2>
            <p>
                Dr. Goyal specializes in DBT and CBT.  DBT is a type of CBT and has four main goals - teach
                people how to live in the moment, cope healthily with stress, regulate emotions, and improve
                relationships with others.  Dr. Goyal is intensively trained in DBT thru Behavioral Tech, LLC. 
                DBT is a very comprehensive skill training program for any individual. She has incorporated 
                individual, group and team DBT aspects of therapy in the treatment of her patients especially 
                those who suffer with borderline behavioral traits.
            </p>

            <p>
                Dr. Goyal also ventured into Cognitive Behavioral Therapy training as she realized that a deeper 
                understanding of the individual’s cognition is very helpful in psychotherapy. CBT is a goal-oriented 
                psychotherapy treatement that takes a hands-on practical approach to problem solving.  It helps 
                patients understand the thoughts and feelings that influence behaviors.  Dr. Goyal uses extensive 
                mindfulness and DBT/CBT skills with her patients. She utilizes several handouts, worksheets and 
                self help workbooks with her patients to make them actively participate in their collaborative 
                treatment. This helps them to develop life long coping skills to deal with their problems in a 
                more realistic manner. She has received both online and in person CBT training from Beck Institute 
                of Cognitive Behavioral Therapy since 2016 and is currently working on her Academy of Cognitive Therapy Certification.
            </p>
        
        
        <h2 class="spec-text">Specializations(Adults Only)</h2>

        <div id="specializations">
            Dr. Goyal specializes in the following:
            <ul>
                <li>Depression</li>
                <li>Anxiety & Panic Disorders</li>
                <li>ADD/ADHD</li>
                <li>OCD</li>
                <li>PTSD</li>
                <li>Personality Disorders</li>
                <li>Bipolar Disorders</li>
                <li>Schizophrenia</li>
                <li>Adjustment Disorders</li>
                <li>Psychotic Disorders</li>
                <li>Chemical Dependency</li>
            </ul>
        
        </div>
    </div>
</div>