<div class="flex-container">

    <div id="design-block">

        <nav class="nav justify-content-end">
            <li class="nav-item nav-link"><a [routerLink]="['']">Home</a></li>
           
            <!-- <li class="dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li> -->

            <li class="nav-item nav-link"><a [routerLink]="['/specialties']">Specializations</a></li>
            <li class="nav-item nav-link"><a [routerLink]="['/process']">Process</a></li>
            <li class="nav-item nav-link"><a [routerLink]="['/insurance']">Insurance</a></li>
            <li class="nav-item nav-link"><a [routerLink]="['/location']">Location</a></li>
            <li class="nav-item nav-link"><a [routerLink]="['/contact']">Contact</a></li>
        </nav>
        
        <img src="../../assets/logo.PNG"  id="logo">
        
        <div class = "title">
            <h1>Manju R. Goyal, M.D.</h1>
            Board Certified Psychiatrist, Fellow of APA
        </div>
    </div>
</div>


Specializations
        (Adults Only)

<div class="specializations">
    Dr. Goyal specializes in the following:
    <ul>
        <li>Depression</li>
        <li>Anxiety & Panic Disorders</li>
        <li>ADD/ADHD</li>
        <li>OCD</li>
        <li>PTSD</li>
        <li>Personality Disorders</li>
        <li>Bipolar Disorders</li>
        <li>Schizophrenia</li>
        <li>Adjustment Disorders</li>
        <li>Psychotic Disorders</li>
        <li>Chemical Dependency</li>
    </ul>
</div>
