
<!-- <div class="flex-conatiner">
    <div id="design-block">
        <div class="row">

            <div class="col">
                <div>
                    <img src="../../assets/logo.PNG" id="logo">
                    <h1>Manju R. Goyal, M.D.</h1>
                    <p id="title">Board Certified Psychiatrist, Fellow of APA</p>
                </div>
            </div>

            <div class="col">
                <nav class="nav">
                    <li class="nav-item nav-link"><a [routerLink]="['']">Home</a></li>
                    <li class="nav-item nav-link"><a [routerLink]="['/specialties']">Specializations</a></li>
                    <li class="nav-item nav-link"><a [routerLink]="['/process']">Process</a></li>
                    <li class="nav-item nav-link"><a [routerLink]="['/insurance']">Insurance</a></li>
                    <li class="nav-item nav-link"><a [routerLink]="['/location']">Location</a></li>
                    <li class="nav-item nav-link"><a [routerLink]="['/contact']">Contact</a></li>
                </nav>
            </div>
        
            
        </div>
    </div>
</div> -->

<div class="flex-conatiner">
    <div id="grad1">

        <div class="row">
            <div class="col" id="col1">
                <div id="directions">Directions to our office:</div>
                <div class="map">
                    <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=5477%20Glen%20Lakes%20Dr%2C%20Dallas%2C%20TX%2075231&key=AIzaSyBxzXj9gl87zPbDcJ-19u1tDLNboOcyu0E" allowfullscreen></iframe>
                </div> 

                <div class="building">
                    <img src="../../assets/building.PNG">
                </div>
            </div>
                
            <div class="col">
                <div id="info">
                    <p><u><strong>Office Phone:</strong></u> (972) 598-0285</p>
                        
                    <p><u><strong>Email:</strong></u> mgoyal8954@gmail.com</p>
                                              
                    <p><u><strong>Fax:</strong></u> (972) 598-0287</p>

                    <p><u><strong>Office Hours:</strong></u>
                        <br>
                        Mon & Fri. 9-5 PM
                        <br>
                        Tue & Wed. 9-5:30 PM
                        <br>
                        Thurs: 9-4 PM
                    </p>
                        
                    <p><u><strong>Address:</strong></u>
                        <br> 
                        5477 Glen Lakes Dr, Suite 210
                        <br>
                        Dallas, Texas 75231-4375
                    </p>
                       
                    <div><u><strong>Directions:</strong></u>
                        
                        <p>1) Use the above address in your GPS enabled device.</p>
                        
                        <p>
                            2) Click in the upper left hand side of the embedded map where it says "View larger map."
                            A new tab will open with our location. On the left hand side about halfway down click the 
                            "Directions" icon for more detailed directions from your location.
                        </p>
                        
                        <p>
                            We are located near the intersection of N. Central Expressway and Walnut Hill Ln. in Dallas.  
                            The building has signs of other practices like Dallas Fertility Associates on one side and Sleep Medicine Associates on the other.
                        </p>
                        
                    </div>
                        
                    <p><u><strong>Parking:</strong></u>
                        There are 2 parking lots on either side of the building, with additional street parking on Glen Lakes Dr. and La Sierra Dr.
                    </p>
                </div>
            </div>
        </div>
        
    </div>
</div>
<!-- <div class="map">
    <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=5477%20Glen%20Lakes%20Dr%2C%20Dallas%2C%20TX%2075231&key=AIzaSyBxzXj9gl87zPbDcJ-19u1tDLNboOcyu0E" allowfullscreen></iframe>
</div>  -->
    

    <!-- <div class="row">
        <div class="column">
            <h2 id="maps-heading"><u>Course Maps</u></h2>
            <div class="links" style="float:left">
                <a href="../../assets/images/new 10k map.png" title="View Map" target="_blank"><u>View 10K Race Map</u></a>
                <br>
                <br>
                <a href="../../assets/images/new 5k map.png" title="View Map" target="_blank"><u>View 5K Race Map</u></a>
            </div>
        </div>
            
        <div class="column">
            <img src="../../assets/images/stampede start.JPG" style="width:75%" id="start-pic">
            <div id="caption-raceStart" style="float:right">
                Some of the over 250 runners who competed in the 2019 Stampede.
            </div>
        </div>
    </div> -->