/* #design-block{
    background: url(../../assets/dallasBackground.png);
    background-position: center center;
    max-width: 100%;
    height: 54vh;
    background-size: cover;
    background-repeat: no-repeat;
}

#logo{
    width: auto;
    max-width: 100%;
    height: auto;
    padding-left: 20%;
    padding-top: 1.5%;

}

#title{
    padding-left: 20%;
    font-size: 1.2vw;
    color: white;
    margin-right: 0;
}

h1{
    margin-left: 20%;
    color: white;
    font-size: 2.5vw;
}

.nav{
    display: flex;
    padding-top: 1%;
    font-size: 1.4vw;
    padding-right: 2%;
    text-align: left; 
}

a{
    color: white;
    padding-right: 4%;
} */

#grad1{
    width: auto;
    max-width: 100%;
    max-height: fit-content;
    background-image: linear-gradient(rgb(75, 167, 209),rgb(65, 221, 174));
}

.map{
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.map iframe{
    padding-left: 8%;
    padding-top: 2%;
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    height: 95%;
}

.building{
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.building img{
    padding-left: 8%;
    padding-bottom: 5%;
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    height: 95%;
}

#info{
    padding-top: 8%;
    font-size: 13pt;
    padding-left: 8%;
    padding-bottom: 7%;
}

#directions{
    font-size: 22pt;
    color: white;
    padding-top: 4%;
    padding-left: 8%;
    text-align: center;
}