#design-block{
    background: url(../../assets/dallasBackground.png);
    max-width: 100%;
    height: 23rem;
    /* background-size: cover; */
    background-repeat: no-repeat;
}


#logo{
    padding-left: 20%;
    padding-top: 1.5%;

}

#title{
    padding-left: 20%;
    color: white;
    margin-right: 0;
}

h1{
    margin-left: 20%;
    color: white;
}

.page-links{
    padding-top: 2%;
    font-size: 15pt;
    text-align: right;
    padding-left: 13%;
    
}

a{
    color: white;
    padding-right: 2%;
}

.column{
    float: left;
    width: 50%;
    padding: 5px;  
}

.column2{
    float: left;
    width: 50%;
    padding: 5px;  
}

.row::after{
    content:"";
    clear: both;
    display: table;
}

.clear{
    clear: both;
}

#grad1{
    height: 36rem;
    background-image: linear-gradient(rgb(75, 167, 209),rgb(65, 221, 174));
    text-align: left;
}