h1{
    text-align: center;
    color: rgb(131, 97, 224);
    padding-top: 1%;
}

ul{
    font-size: 13pt;
    padding-left: 15%;
    padding-bottom: 1.5%;
    padding-right: 3%;
}

#topLabel{
    font-size: 18pt;
    font-weight: bold;
    padding-left: 15%;
    padding-top: 2%;
    /* color: rgb(51, 72, 163); */
    color: rgb(131, 97, 224);
}

#bottomLabel{
    font-size: 18pt;
    font-weight: bold;
    padding-left: 15%;
    color: rgb(131, 97, 224);
}

#label{
    font-size: 18pt;
    font-weight: bold;
    padding-left: 15%;
    color: rgb(131, 97, 224);
}

#medicare{
    font-size: 15;
    font-style: italic;
}

