h1{
    text-align: center;
    color: rgb(51, 72, 163);
    padding-top: 1%;
}

ul{
    font-size: 13pt;
    padding-left: 15%;
    padding-bottom: 1.5%;
}

#topLabel{
    font-size: 18pt;
    font-weight: bold;
    padding-left: 15%;
    padding-top: 2%;
    color: rgb(51, 72, 163);
}

#bottomLabel{
    font-size: 18pt;
    font-weight: bold;
    padding-left: 15%;
    color: rgb(51, 72, 163);
}

#label{
    font-size: 18pt;
    font-weight: bold;
    padding-left: 15%;
    color: rgb(51, 72, 163);
}

