
<div clas="flex-container">
    <h1>Insurance & Pricing</h1>

    <div id="topLabel"><u>Insurances Accepted:</u></div>
        <ul>
            <li>Blue Cross Blue Shield PPO</li>
            <li>Aetna</li>
            <li>Cigna</li>
            <div id="medicare">**Unfortunately at this time Medicare and Medicaid are NOT accepted**</div>
        </ul>
    <div id="label"><u>Self-Pay</u></div>
        <ul>
            <li>New Patient Evaluation: $350</li>
            <li>45 - 50 mins: medication managemen with full psychotherapy: $250.00</li>
            <li>20 - 25 mins: medication management with brief supportive therapy: $150.00</li>
            <li>10 - 15 mins: medication management: $115.00</li>
        </ul>
    <div id="bottomLabel"><u>Administrative Fees</u></div>
        <ul>
            <li>Prior Authorization of Medications Fees: $25.00</li>
            <li>Controlled Medication Refill Fee: $15.00</li>
            <li>Paperwork Fee: Extra (Depending on time and complexity of the situation)</li>
            <li>Cancellation Fee – Amount of time scheduled for appointments not cancelled within 24 hours notice.</li>
        </ul>
</div>

