
<div class="flex-container">
    <div class="container">
        <div>
            <h2 id="greeting">
                Welcome, Dr. Goyal
                <p>
                    Login:
                </p>
            </h2>
        </div>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div id="password-input">
                <label for="password">Password:</label>
                <input id="password" formControlName="password" type="password" class="form-control" placeholder="Password" [ngClass]="{'is-invalid': form.password.errors && (form.password.touched || form.password.dirty)}" >
                <div *ngIf="form.password.errors && (form.password.touched || form.password.dirty)" class="invalid-feedback">
                    <div *ngIf='form.password.errors.required'>*Password is Required</div>
                </div>
                <div class="invalidPassword" *ngIf="invalidPassword" >*Invalid password, please try again.</div>
            </div>
            
                
            <div class="row">
                <div class="col-md-3 btnSubmit">
                    <div >
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
                <div class="col-md-3 cancelBtn">
                    <div >
                        <a class="btn btn-primary" [routerLink]="['/']" style="color: white">Cancel</a>
                    </div>
                </div> 
            </div>
        </form>
    </div>
</div>
