<p>edit-blog works!</p>

<!-- <div class="flex-container">
    <div class="container">
        <h1>Edit Blog Post:</h1>

        <div id="currentEmail"><strong><u>Current Blog Post:</u></strong></div>
        <div id="title">
            {{blogPost.title}}
        </div>
        <div id="description">
            {{blogPost.description}}
        </div>
        <div id="link">
            {{blogPost.link}}
        </div>

        <form [formGroup]="editBlogForm" (ngSubmit)="onSubmit()">
                <div class="form-group"></div>
                <label for="newTitle"><strong><u>Updated Title:</u></strong></label>
                <input type="email" formControlName = "newEmail" class="form-control" id="inputEmail1" aria-describedby="emailHelp" placeholder="New email">
                <div class="help-block" *ngIf="editVolEmailForm.get('newEmail').errors && 
                (editVolEmailForm.get('newEmail').touched || editVolEmailForm.get('newEmail').dirty)">
                    <div *ngIf="editVolEmailForm.get('newEmail').errors.required">
                        You must provide a valid email address to update your account. 
                    </div>
                </div>
            
                </div>
    
            <div class="row">
                <div class="col-md-3" id="btnSubmit">
                    <button type="submit" class="btn btn-primary">Update Email</button>
                </div>  
                <div class="col-md-3" id="backBtn">
                    <a type="button" class="btn btn-primary" [routerLink]="['/view-profile']">Profile</a>
                </div>
            </div>
            </div> 
        </form>

       
        
    </div> 

</div> -->