
<div class="flex-container">
    <div class="container">
        <div class="title">
            <h1>Edit Blog Post:</h1>
        </div>

        <form [formGroup]="editBlogForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="newTitle"><strong><u>Updated Title:</u></strong></label>
                <input type="text" formControlName = "newTitle" class="form-control" id="newTitle" aria-describedby="emailHelp" placeholder="">
            </div>

        <!-- <div id="currentPost"><strong><u>Current Blog Post:</u></strong></div>
        <div id="title">
            {{blogPost.title}}
        </div>
        <div id="description">
            {{blogPost.description}}
        </div>
        <div id="link">
            {{blogPost.link}}
        </div>

        
                
    
            <div class="row">
                <div class="col-md-3" id="btnSubmit">
                    <button type="submit" class="btn btn-primary">Update Email</button>
                </div>  
                <div class="col-md-3" id="backBtn">
                    <a type="button" class="btn btn-primary" [routerLink]="['/view-profile']">Profile</a>
                </div>
            </div>

            </div> -->
        </form> 
       
        
    </div> 

</div>