
<div class="flex-container">

    <div id="design-block">
        <nav class="nav justify-content-end">
            <li class="nav-item nav-link"><a [routerLink]="['']">Home</a></li>
            <li class="nav-item nav-link"><a [routerLink]="['/specialties']">Specializations</a></li>
            <li class="nav-item nav-link"><a [routerLink]="['/process']">Process</a></li>
            <li class="nav-item nav-link"><a [routerLink]="['/insurance']">Insurance</a></li>
            <li class="nav-item nav-link"><a [routerLink]="['/location']">Location</a></li>
            <li class="nav-item nav-link"><a [routerLink]="['/contact']">Contact</a></li>
        </nav>
        
        <img src="../../assets/logo.PNG"  id="logo">
        
        <div class = "title">
            <h1>Manju R. Goyal, M.D.</h1>
            Board Certified Psychiatrist, Fellow of APA
        </div>
    </div>
</div>

    
    
    <!-- <nav class="navbar navbar-expand-lg navbar-light" id="navigationBar">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav" id="listItems" style="text-align:center;">
            <a class="nav-item nav-link" a [routerLink]="['/']">Home |</a>
            <a class="nav-item nav-link" a [routerLink]="['/about']">About Dr. Goyal |</a>
            <a class="nav-item nav-link" a [routerLink]="['/specialties']">Specializations |</a>
            <a class="nav-item nav-link" a [routerLink]="['/process']">The Process |</a>
            <a class="nav-item nav-link" a [routerLink]="['/insurance']">Insurance |</a>
            <a class="nav-item nav-link" a [routerLink]="['/contact']">Contact |</a>
          </div>
        </div>
      </nav> -->
<div class="flex-container">
    <div id="grad1">

        <div class="row">
            <div class="col-12 col-md-4">
                <div id="picture" >
                    <img src="../../assets/drgoyal2.PNG">
                </div>
            </div>
            <!-- style="float:left" -->
            <!-- style="float:left" -->
            <div class="col-12 col-md-8">
                <div id="background-info" >
                    <p><strong>Dr. Manju R. Goyal</strong> is a board-certified psychiatrist who cares deeply for her patients and seeks to help each individual 
                    acquire life-long coping skills. She completed her medical school with Bachelor of Medicine and Bachelor of Surgery from 
                    Government Medical College, Patiala, India in 1975. Dr. Goyal then completed her Psychiatry residency training at St. Vincent’s 
                    Medical Center of North Richmond Staten Island, New York in 1981. After her training, she started practicing in the Dallas area in 
                    1982, she and currently operates a solo outpatient private practice of Psychiatry. She is also currently active in many local and 
                    national psychiatric organizations (American Psychiatric Association (APA), Depression Care Managers (DCMS), Texas Society of Psychiatric 
                    Physicans (TSPP) and Dallas Area Women’s Psychiatrists, etc.).</p>
                
                    <p><strong>From 1982 to 2006</strong>, Dr. Goyal worked in various <strong>outpatient</strong> and <strong>inpatient</strong> settings including hospitals and a large group practice (BentTree 
                    Psychiatric Associates). She worked diligently towards getting her expertise in treating major psychiatric illnesses, also raising a family 
                    of 3 children at the same time. In 2006, Dr. Goyal became more passionate about the therapy aspect of psychiatric treatment. She ventured 
                    into yoga training, which led her to explore the power of mindfulness through <a [routerLink]="['/specialties']" id="specializations"><u>Cognitive Behavioral 
                    Therapy (CBT)</u></a> and <a [routerLink]="['/specialties']" id="specializations"><u>Dialectical Behavioral Therapy (DBT)</u></a>.  From 2012 onwards, 
                    she has trained extensively and received various CBT and DBT certifications.</p>

                    <p>With 30 years experience, Dr. Goyal believes that a combination of medication and therapy works the best for helping patients achieve their goals.</p>
                </div>
            </div>
        </div>
        <!-- <div id="picture">
            <img src="../../assets/drgoyal.jpg">
            <div id="background-info">
                <p>HI!</p>
            </div>
        </div> -->
        

    </div>
</div>

