
#design-block{
    background: url(../../assets/meditation.jpg);
    background-position: center center;
    max-width: 200vw;
    height: 54vh; 
    background-size: cover;
    background-repeat: no-repeat;
}

#logo{
    max-width: 100%;
    height: auto;
    padding-left: 30%;
}

.title{
    padding-left: 30%;
    color: white;
    font-size: 1.2vw;
}

h1{
    font-size: 2.5vw;
    color: white;
}

.nav{
    display: flex;
    padding-top: 1%;
    font-size: 1.5vw;
    padding-right: 2%; 
}

.col-md-4{
    text-align: center;
    padding-top: 5%;
}

a{
    color: white;
    padding-right: 2%;
}

/* #picture{
    position: relative;
    overflow: hidden;
    width: auto;
    max-width: fit-content;
    height: auto;
    padding-top: 15%; */
    /* padding-left: 15%; */
/* } */

/* .column1{
    float: left;
    width: 35%;
    padding: 5px;  
}

.column2{
    float: left;
    width: 65%;
    padding: 5px;  
}

.row::after{
    content:"";
    clear: both;
    display: table;
}

.clear{
    clear: both;
} */

#grad1{
    width: auto;
    max-width: 100%;
    max-height: fit-content;
    background-image: linear-gradient(rgb(75, 167, 209),rgb(65, 221, 174));
}

#background-info{
    padding-top: 5.5%;
    padding-right: 10%;
    padding-bottom: 7%;
    padding-left: 3%
}

#specializations{
    color: black;
    padding-right: 0;
}

/* @media only screen and (max-width: 600px) { */
    /* for widths less than or equal to 629 pixels */
    /* #grad1{
        display:flex;
        align-items: stretch;
        flex-flow: column wrap;
    }
    .column1 {
        order: 1;
      float: none ;
      width: 100% ;
      text-align: left;
    
    }
    .column2 {
        order: 2;
      float: none ;
      width: 100% ;
      text-align: center;
      padding-left: 8%;
    }
  } */
