
#design-block{
    background: url(../../assets/meditation.jpg);
    max-width: 100%;
    height: 23rem;
    background-size: cover;
    background-repeat: no-repeat;
}


#logo{
    padding-left: 30%;
    padding-right: 1%;
}

.title{
    padding-left: 30%;
    color: white;
}

/* #listItems{
    margin: 0 auto;
} */

h1{
    color: white;
}

/* #navigationBar{
    max-width: 100%; 
    font-size: 15px; 
    font-weight: bold;
    background-color: rgb(96, 59, 228);
} */

.page-links{
    padding-top: 2%;
    font-size: 15pt;
    text-align: right;
    padding-right: 2%;
}

a{
    color: white;
    padding-right: 2%;
}

/* .container{
    border: 3px firebrick solid;
    margin-left: 8%;
    margin-right: 8%;
} */

.picture{
    padding-top: 6%;
    margin-left: 55%;
}

.column{
    float: left;
    width: 50%;
    padding: 5px;  
}

.row::after{
    content:"";
    clear: both;
    display: table;
}

.clear{
    clear: both;
}

#grad1{
    height: 40rem;
    /* display: inline-block; */
    /* flex-wrap: wrap; */
    /* background-color: #cccccc; */
    background-image: linear-gradient(rgb(75, 167, 209),rgb(65, 221, 174));
    text-align: center;
}

#background-info{
    padding-top: 6%;
    margin-right: 75%;
}
