
<div class="flex-conatiner">

    <div id="design-block">
        <div class="page-links">
            <a [routerLink]="['/specialties']">Specializations</a>
            <a [routerLink]="['/process']">Process</a>
            <a [routerLink]="['/insurance']">Insurance</a>
            <a [routerLink]="['/location']">Location</a>
            <a [routerLink]="['/contact']">Contact</a>
        </div>
        
        <img src="../../assets/logo.PNG" id="logo">
        
        <div class = "title">
            <h1>Manju R. Goyal, M.D.</h1>
            Board Certified Psychiatrist, Fellow of APA
        </div>
    </div>

    
    
    <!-- <nav class="navbar navbar-expand-lg navbar-light" id="navigationBar">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav" id="listItems" style="text-align:center;">
            <a class="nav-item nav-link" a [routerLink]="['/']">Home |</a>
            <a class="nav-item nav-link" a [routerLink]="['/about']">About Dr. Goyal |</a>
            <a class="nav-item nav-link" a [routerLink]="['/specialties']">Specializations |</a>
            <a class="nav-item nav-link" a [routerLink]="['/process']">The Process |</a>
            <a class="nav-item nav-link" a [routerLink]="['/insurance']">Insurance |</a>
            <a class="nav-item nav-link" a [routerLink]="['/contact']">Contact |</a>
          </div>
        </div>
      </nav> -->

    <div id="grad1">

        <!-- <div class="row">
            <div class="column">
                <div class="picture" style="float:left">
                    <img src="../../assets/drgoyal.jpg">
                </div>
            </div>
                
            <div class="column">
                <div id="background-info" style="float:right">
                    Dr. Manju R. Goyal is a board-certified psychiatrist who cares deeply for her patients and seeks to help each individual 
                    acquire life-long coping skills. She completed her medical school with Bachelor of Medicine and Bachelor of Surgery from 
                    Government Medical College, Patiala, India in 1975. Dr. Goyal then completed her Psychiatry residency training at St. Vincent’s 
                    Medical Center of North Richmond Staten Island, New York in 1981. After her training, she started practicing in Dallas area in 
                    1982 and currently operates a solo outpatient private practice of Psychiatry. She is also currently active in many local and 
                    national psychiatric organizations (APA, DCMS, TSPP and Dallas Area Women’s Psychiatrists, etc.).

From 1982 to 2006, Dr. Goyal worked in various outpatient and inpatient settings including hospitals and a large group practice (BentTree Psychiatric Associates). She worked diligently towards getting her expertise in treating major psychiatric illnesses, also raising a family of 3 children at the same time. In 2006, Dr. Goyal became more passionate about the therapy aspect of psychiatric treatment. She ventured into yoga training, which led her to explore the power of mindfulness through Cognitive Behavioral Therapy (CBT) and Dialectical Behavioral (DBT). From 2012 onwards, she has trained extensively and received various CBT and DBT certifications.

With 30 years experience, Dr. Goyal believes that a combination of medication and therapy works the best for helping patients achieve their goals.
                </div>
            </div>
        </div> -->
        <div id="picture">
            <img src="../../assets/drgoyal.jpg">
            <div id="background-info">
                <p>HI!</p>
            </div>
        </div>
        

    </div>
</div>
