.flex-container{
    font-size: 13pt;
    padding-top: 2%;
    padding-bottom: 2%;
}

.title{
    text-align: center;
    color: rgb(131, 97, 224);
}

.buttons{
    text-align: center;
    padding-top: 2%;
}

.addBtn, .viewBtn, .signOutBtn{
    padding-top: 1%;
    padding-bottom: 3%;
}